@{ 
    Layout = "~/Views/Shared/_ManageLayout.cshtml";

}
@Html.Partial("List")

@Html.Partial("Detail")

@section scripts{
    <script type="text/javascript">
        var _pageSize = 10;
        $(function () {
            $("#btnSave").click(function () {
                var params = serializeForm("form_food_detail");    
                var file = $("#form_food_detail input[type='file']");
                fileUpload(file, params, "@Url.Action("Add","Food")",
                    function (result) {
                        loadList(1);
                    }, function (err) {


                    });
            });

            loadList(1);
        });

        function updateItem(itemId) {
            if (itemId)
                layer.confirm("Are you sure you want to delete ?",
                    function (index) {
                        layer.close(index);
                       
                        layer.msg('yes', 1, { type: 1 }, function () {

                        });
                        ajaxGet("@Url.Action("GetFirstOrDefault", "Food")",
                            { foodId: itemId },
                            function (result) {
                               // layer.msg('success', 1);
                                debugger;
                            },
                            function () {
                                layer.msg('fail', 1);
                            });
                    },
                    "Tips",
                    function (index) {
                        layer.close(index);
                        layer.msg('no',1);
                    });
        }

        function deleteItem(itemId) {
            if (itemId)
                layer.confirm("Are you sure you want to delete ?",
                    function (index) {
                        layer.close(index);
                       
                        layer.msg('yes', 1, { type: 1 }, function () {

                        });
                        ajaxPost("@Url.Action("Delete", "Food")",
                            { foodId: itemId },
                            function (result) {
                                layer.msg('success', 1);
                                loadList(1);
                            },
                            function () {
                                layer.msg('fail', 1);
                            });
                    },
                    "Tips",
                    function (index) {
                        layer.close(index);
                        layer.msg('no',1);
                    });
        }


        function loadList(pageIndex, pageSize) {
            var param = {
                PageIndex: pageIndex,
                PageSize: pageSize == undefined ? _pageSize : pageSize                
            };
            ajaxGet("@Url.Action("Get", "Food")",
            param,
            function (result) {
                debugger;
                if (result.Data == undefined) return;
                var data = {
                    list: result.Data.Result
                }
                //$("#totalPageCount").text("共计：" + result.Data.TotalCount + "条记录/共计：" + result.Data.PageCount + "页");
                $("#foodList").html(template("foodListTemplate", data));
                if (result.Data.TotalCount <= 0) {
                    $("#foodList").html("<tr><td colspan='9' class='text-center'><span>暂无数据</span></td></tr>");
                }

                //PageScroller("paginateUp", result.Data.PageCount, pageIndex, loadList, 6);
                //PageScroller("paginateDown", result.Data.PageCount, pageIndex, loadList, 6);
            },
            function () {
                layer.msg('fail', 1);
            });
        }
    </script>    
}