@{ 
    Layout = "~/Views/Shared/_ManageLayout.cshtml";

}
@Html.Partial("List")

@Html.Partial("Detail")

@section scripts{
    <script type="text/javascript">
            var _pageSize = 10;
            $(function () {
                $("#btnSave").click(function () {
                    var params = getFormData("form_food_detail");
                    if (params == false) return false;
                    var file = $("#form_food_detail input[type='file']");
                    var foodid = $("input[type='hidden'][id='FoodId']").val();
                    var url = "@Url.Action("Add","Food")";
                    if (foodid != "") {
                        url = "@Url.Action("Update","Food")";
                    }
                    fileUpload(file, params, url,
                        function (result) {
                            alert("success", function () {
                                $('#foodDetailModal').modal("hide");
                                loadList(1);
                            });

                        }, function (err) {
                            $('#foodDetailModal').modal("hide");
                            loadList(1);
                        });
                });
                initSelect("@Url.Action("Get","FoodType")", {}, "TypeId", "TypeName", "TypeId", "", function () { })
                loadList(1);
            });
            function addItem() {               
                clearFormData("form_food_detail");
                $('#foodDetailModal').modal("show");
            }
            function updateItem(itemId) {
                if (itemId) {
                    ajaxGet("@Url.Action("GetFirstOrDefault", "Food")",
                        { foodId: itemId },
                        function (result) {
                            if (result) {
                                deserializeForm("form_food_detail", result.Data);
                                $('#foodDetailModal').modal("show");
                            }
                        },
                        function () {
                            layer.msg('fail', 1);
                        });
                }
            }

            function deleteItem(itemId) {
                if (itemId)
                    layer.confirm("Are you sure you want to delete ?",
                        function (index) {                            
                            ajaxPost("@Url.Action("Delete", "Food")",
                                { foodId: itemId },
                                function (result) {
                                    layer.msg('success', 1);
                                    loadList(1);
                                },
                                function () {
                                    layer.msg('fail', 1);
                                });
                        },
                        "Tips",
                        function (index) {
                            layer.close(index);                            
                        });
            }


            function loadList(pageIndex, pageSize) {
                var param = {
                    PageIndex: pageIndex,
                    PageSize: pageSize == undefined ? _pageSize : pageSize
                };
                ajaxGet("@Url.Action("Get", "Food")",
                param,
                function (result) {
                   // debugger;
                    if (result.Data == undefined) return;
                    var data = {
                        list: result.Data
                    }
                 
                    $("#foodList").html(template("foodListTemplate", data));
                    if (result.Data.TotalCount <= 0) {
                        $("#foodList").html("<tr><td colspan='9' class='text-center'><span>no data</span></td></tr>");
                    }

                    
                },
                function () {
                    layer.msg('fail', 1);
                });
            }
    </script>    
}