<!doctype html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Manage</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/common.css")
    @Styles.Render("~/Content/css/slide.css")
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/flat-ui.min.css")
    @Styles.Render("~/Content/css/jquery.nouislider.css")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layer")
    @Scripts.Render("~/Scripts/jquery.nouislider.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/ajaxfileupload.js")
    @Scripts.Render("~/Scripts/template.js")
    @Scripts.Render("~/Scripts/common.js")
    @RenderSection("scripts", required: false)
</head>

<body>
    <div id="wrap">
        <div class="leftMeun" id="leftMeun" >
            @Html.Partial("_ManageLeftMenu")
        </div>
        <div id="rightContent">
            <a class="toggle-btn" id="nimei">
                <i class="glyphicon glyphicon-align-justify"></i>
            </a>
            <!-- Tab panes -->
            <div class="tab-content">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
