@model WrightWayRestaurant.Web.Models.CustomerLoginViewModel
@{
    ViewBag.Title = "Customer Login";
}
<div class="form-bg">
    <div class="container ">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                @using (Ajax.BeginForm("Login", "Customer", null, new AjaxOptions { OnBegin = "onLoginBegin", OnFailure = "onLoginFailure", OnComplete = "onLoginComplete", HttpMethod = "Post" }, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="heading">Login Form</div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.AccountName, new { @class = "col-md-2 control-label" })*@
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(m => m.AccountName, new { @placeholder = "Name/Phone/Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AccountName, "", new { @class = "text-danger text-error", })
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Input password", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger text-error" })
                    </div>
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-error" })
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-primary btn-login" value="Login" />
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="@Url.Action("Register","Customer")">Register</a>
                            <br />
                            @*<a href="javascript:forgotPassword(this);">Forget password</a>*@
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Content/css/customer-form.css")   
}

@section scripts{
    <script type="text/javascript">
        function onLoginBegin(e) {
            $("span[data-valmsg-for]").text("");
            if ($.trim($('#AccountName').val()) == '') {
                $("span[data-valmsg-for='AccountName']").text("input user name");
                $('#AccountName').focus();
                return false;
            }
            if ($.trim($('#Password').val()) == '') {
                $("span[data-valmsg-for='Password']").text("input password");
                $('#Password').focus();
                return false;
            }
            $("span[data-valmsg-for]").text("");
            $('.btn-login').val('login...').attr("disabled", true);
        }

        function onLoginFailure(e) {
            $('.btn-login').val('Login').attr("disabled", false);
        }

        function onLoginComplete(e) {
            try {
                var json = e.responseJSON;
                if (json && json.Code != undefined && json.Code == 0) {
                    $('.btn-login').val('...');
                    window.location = "@Url.Action( "Index", "Home",new { area=""})";
                } else {
                    $('.btn-login').val('Login').attr("disabled", false);
                    if (e.status !== 500) {
                        for (var name in json.Data) {
                            var obj = json.Data[name];
                            if (obj.Errors.length > 0) {
                                $("span[data-valmsg-for='" + name + "']").text(obj.Errors[0].ErrorMessage);
                            }
                        }
                    } else {
                        alert("Logon error");
                    }
                }
            } catch (ex) {
                alert("Logon error");
            }
        }
    </script>
}

